<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Hello
  <p th:text="${name}"></p>

  <button>DELETE BUTTON</button>

  <script src="/jquery.min.js"></script>

  <script>
    $('button').off('click').click(function(){
      $.ajax({
        method: 'delete',
        url: '/person/1',
        data: '',
        success: printUsers
      });
    });

    function printUsers() {
      console.log("Success");
    }

  </script>

</body>
</html>